* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #c7c5c5;
    border-radius: 3px;

    &:hover {
      background: #252525 !important;
    }

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
  }

  &::-webkit-scrollbar-track {
    background: #e8e8e8;
    border: none;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

}

html {
  background-color: #fff;
}

html.dark {
  background-color: #000;

  .vditor--dark {
    .vditor-reset {
      color: #fff;
    }
  }

  .vditor-reset {
    color: #fff;

    table {
      color: #000;
    }
  }

  .vditor-container {
    background-color: #24292e;
  }

  .react-activity-calendar__legend-month {
    color: #fff;
  }

  .react-activity-calendar__count {
    color: #fff;
  }

  .react-activity-calendar__legend-weekday {
    color: #fff;
  }

  .toggletheme {
    background-color: #1f1f1f !important;
    color: #cccccc !important;

    &:hover {
      background-color: #3a3a3a !important;
      color: #dcdcdc !important;
    }
  }

  .ant-input.css-dev-only-do-not-override-1m63z2v.ant-input-borderless.ant-sender-input {
    color: #fff;
  }
}
